<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- BLE communication -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <!-- Legacy permissions on older devices -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />

    <!-- API 31 permissions -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- BLE communication -->

    <!--
    Allows Glide to monitor connectivity status and restart failed requests if users go from a
    a disconnected to a connected network state.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- This is for API 31 and above-->
    <!-- TODO Package keys are not following single source of truth-->
    <!-- TODO Find a way to get keys or create manifest with a script-->
    <queries>
        <package android:name="${CHROME_PACKAGE_NAME}" />
        <package android:name="${CHROME_DEV_PACKAGE_NAME}" />
        <package android:name="${CHROME_BETA_PACKAGE_NAME}" />
        <package android:name="${CHROME_CANARY_PACKAGE_NAME}" />
        <package android:name="${GOOGLE_SEARCH_PACKAGE_NAME}" />
        <package android:name="${OPERA_PACKAGE_NAME}" />
        <package android:name="${OPERA_TOUCH_PACKAGE_NAME}" />
        <package android:name="${OPERA_GX_PACKAGE_NAME}" />
        <package android:name="${YANDEX_PACKAGE_NAME}" />
        <package android:name="${YANDEX_LITE_PACKAGE_NAME}" />
        <package android:name="${MICROSOFT_EDGE_PACKAGE_NAME}" />
        <package android:name="${FIREFOX_PACKAGE_NAME}" />
        <package android:name="${FIREFOX_NIGHTLY_PACKAGE_NAME}" />
        <package android:name="${FIREFOX_BETA_PACKAGE_NAME}" />
        <package android:name="${FIREFOX_FOCUS_PACKAGE_NAME}" />
        <package android:name="${DUCK_DUCK_GO_PACKAGE_NAME}" />
        <package android:name="${BRAVE_PACKAGE_NAME}" />
        <package android:name="${BRAVE_BETA_PACKAGE_NAME}" />
        <package android:name="${BRAVE_NIGHTLY_PACKAGE_NAME}" />
        <package android:name="${BLACKBERRY_PACKAGE_NAME}" />
        <package android:name="${VIVALDI_PACKAGE_NAME}" />
        <package android:name="${VIVALDI_SNAPSHOT_PACKAGE_NAME}" />
        <package android:name="${WE_CHAT_PACKAGE_NAME}" />
        <package android:name="${UC_BROWSER_PACKAGE_NAME}" />
        <package android:name="${MAXTHON_PACKAGE_NAME}" />
        <package android:name="${PUFFIN_PACKAGE_NAME}" />
        <package android:name="${SLEIPNIR_PACKAGE_NAME}" />
        <package android:name="${SAMSUNG_INTERNET_FOR_ANDROID_PACKAGE_NAME}" />
        <package android:name="${NAVER_WHALE_BROWSER_PACKAGE_NAME}" />
        <package android:name="${QQ_BROWSER_PACKAGE_NAME}" />
        <package android:name="${MIUI_PACKAGE_NAME}" />
    </queries>

    <application
        android:name=".core.PeraApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:fullBackupContent,android:dataExtractionRules"
        tools:targetApi="s">
        <!--
        We override `dataExtractionRules` because of WalletConnect v2 library.
        Our rules cover their files as well.
        -->

        <service
            android:name=".notification.PeraFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="${enableFirebasePerformanceLogcat}" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_small" />

        <activity
            android:name=".ui.splash.LauncherActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <data android:scheme="wc" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="perawallet-wc" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="perawallet" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="perawallet.app"
                    android:pathPrefix="/qr/perawallet/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="perawallet.app"
                    android:pathPrefix="/qr/perawallet-wc/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="adjustResize" />

        <activity-alias
            android:name=".Launcher"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity=".ui.splash.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
