### OS X temporary files ###

.DS_Store
.Trashes
*.swp

### Swift ###

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other settings
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
.build/

## CocoaPods
Pods/

## fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/.env
fastlane/.env.*
./archieve

### Xcode ###

## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Xcode Patch ###
**/xcshareddata/WorkspaceSettings.xcsettings